@import "tailwindcss";

@theme {
  --color-halloween-orange: #ff6b35;
  --color-halloween-black: #050505;
  --color-halloween-purple: #6b46c1;
  --color-halloween-green: #38a169;
  --color-halloween-yellow: #ffd700;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-halloween-black text-white antialiased;
}